img {
  display: block;
  width: 1000px;
  margin: auto;
}

.content * {
  margin: 0px;
  padding: 10px;
}

.content h1{
  font-size: 40px;
  margin: 0px;
  padding: 10px;
}

.content p{
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}
