.navigation {
  background-color: rgb(40, 40, 40);
  margin: 0px;
  padding: 5px 0px 5px 0px;
  position: fixed;
  width: 100%;
  display: block;
}

.navigation ul{
  display: block;
  padding: 0px 10px;
  margin: auto;
  width: 1000px;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: white;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 25pt;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.navigation a:hover {
  background-color: rgb(80, 80, 80);
}

body {
  padding: 0px;
  margin: 0px;
  background: rgb(230, 230, 230);
}

.content {
  display: block;
  width: 900px;
  padding: 0px;
  margin: auto;
  background: white;
  height: 100%;
}

html {
  overflow-y: scroll;
}
