.navigation {
  background-color: Black;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.navigation ul{
  padding: 0px 10px;
  margin: 0px;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: white;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 20pt;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.navigation a:hover {
  background-color: Grey;
}

body {
  padding: 0px;
  margin: 0px;
}
